<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../../css/EstiloListar.css" rel="stylesheet" />
    <link rel="stylesheet" media="all" href="../../css/style.css" />
    <title>Document</title>
</head>
<body>
<h1><span class="blue">&lt;</span>Table<span class="blue">&gt;</span> <span class="yellow">Responsive</span></h1>
<h2>Created with love by <a href="https://github.com/pablorgarcia" target="_blank">ale</a></h2>

<!--boton pokemon-->
        <div class="btn-bg Pokemon" style="background-image:url('../../Imagenes/IMG2Fondo.jpg')">
            <div class="btn-group">
                <div class="btn ball">
                    <button>
                        <div class="pokemon-ball"></div><a th:href="@{/rest/platos/nuevo}">Crea Nuevo Plato  <span data-letters="Go!"></span><span data-letters="Go!"></span></a>
                    </button>
                    <button>
                        <div class="pokemon-ball"></div><a th:href="@{/bienvenida}">bienvenida  <span data-letters="Go!"></span><span data-letters="Go!"></span></a>
                    </button>
                </div>
            </div>
        </div>


        <table
               class="container"
               >
            <thead>
            <tr>
                <th>Id</th>
                <th>Nombre de Plato</th>
                <th>Costo de Plato</th>
                <th>tipo de plato</th>
                <th>Acciones</th>


            </tr>
            </thead>
            <tbody>
            <tr th:each="platos : ${listaPlatos}">
                <td th:text="${platos.idPlato}">Id</td>
                <td th:text="${platos.nombrePlato}">Nombre</td>
                <td th:text="${platos.precioPlato}">Duracion</td>
                <td th:text="${platos.tipoPlato}">Clasificacion</td>
                <td>
                    <a
                        th:href="@{/rest/platos/actualizar/{id}(id=${platos.idPlato})}"><img
                        src="../../Imagenes/ImagenActualizar.png" width="10" height="10" class="img-fluid"
                        data-toggle="tooltip" data-placement="bottom"
                        title="Actualizar Pelicula">ACTUALIZAR</a>
                    &nbsp;&nbsp;&nbsp;
                    <a
                            th:href="@{/rest/platos/eliminar/{id}(id=${platos.idPlato})}"><img
                            src="../../Imagenes/ImagenActualizar.png" width="10" height="10" class="img-fluid"
                            data-toggle="tooltip" data-placement="bottom"
                            title="Eliminar Pelicula">ELIMINAR</a>
                </td>


            </tr>
            </tbody>
        </table>

</body>
</html>