<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="css/EstiloLogin.css" rel="stylesheet" />
    <!--
    <link href="css/loginnew.css" rel="stylesheet" />
    -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <title>Login</title>
</head>
<body>
<div id="home" class="w3-content">
<!---->
<div class="w3-top w3-bar w3-xlarge w3-black w3-opacity-min">
    <a href="http://localhost:1090/restauranteWeb/index" class="w3-bar-item w3-button">INICIO</a>
    <a href="#menu" class="w3-bar-item w3-button">MENU</a>
    <a href="#about" class="w3-bar-item w3-button">ACERCA DE</a>
    <a href="http://localhost:1090/restauranteWeb/login" class="w3-bar-item w3-button">LOGEATE</a>
</div>
</div>




<div class="container" id="containerLogin">
    <div class="screen">
        <div class="screen__content">
            <form class="login" th:action="@{/login}" method="post" id="formulario1">
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input type="text" class="login__input" placeholder="User name / Email" id="username" name="username">
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-lock"></i>
                    <input type="password" class="login__input" placeholder="Password" id="password" name="password">
                </div>
                <button class="button login__submit" type="submit" id="botonAuth">
                    <span class="button__text">Log In Now</span>
                    <i class="button__icon fas fa-chevron-right"></i>
                </button>
            </form>
            <div class="social-login">
                <h3>log in via</h3>
                <div class="social-icons">
                    <a href="#" class="social-login__icon fab fa-instagram"></a>
                    <a href="#" class="social-login__icon fab fa-facebook"></a>
                    <a href="#" class="social-login__icon fab fa-twitter"></a>
                </div>
            </div>
        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
</div>

</body>
</html>