<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../../css/EstiloListar.css" rel="stylesheet" />
    <link rel="stylesheet" media="all" href="../../css/style.css" />
    <title>Document</title>
</head>
<body>
<h1><span class="blue">&lt;</span>Table<span class="blue">&gt;</span> <span class="yellow">Responsive</span></h1>
<h2>Created with love by <a href="https://github.com/pablorgarcia" target="_blank">ale</a></h2>

<div class="btn-bg Pokemon" style="background-image:url('../../Imagenes/IMG2Fondo.jpg')">
    <div class="btn-group">
        <div class="btn ball">
            <button>
                <div class="pokemon-ball"></div><a th:href="@{/rest/delivery/nuevo}">Crea Nuevo DELIVERY  <span data-letters="Go!"></span><span data-letters="Go!"></span></a>
            </button>
            <button>
                <div class="pokemon-ball"></div><a th:href="@{/bienvenida}">bienvenida  <span data-letters="Go!"></span><span data-letters="Go!"></span></a>
            </button>
        </div>
    </div>
</div>
        <table
               class="container"
               >
            <thead>
            <tr>
                <th>Id</th>
                <th>Nombre perso - delivery</th>
                <th>plato de delivery</th>
                <th>costo de delivery</th>
                <th>Acciones</th>


            </tr>
            </thead>
            <tbody>
            <tr th:each="delivery:${listaDelivery}">
                <td th:text="${delivery.idDelivery}">Id</td>
                <td th:text="${delivery.nombre}">Nombre</td>
                <td th:text="${delivery.plato}">plato</td>
                <td th:text="${delivery.lugar}">lugar</td>
                <td>
                    <a
                            th:href="@{/rest/delivery/act/{id}(id=${delivery.idDelivery})}"><img
                            src="../../Imagenes/ImagenActualizar.png" width="10" height="10" class="img-fluid"
                            data-toggle="tooltip" data-placement="bottom"
                            title="Actualizar Pelicula">ACTUALIZAR</a>
                    &nbsp;&nbsp;&nbsp;
                    <a
                            th:href="@{/rest/delivery/eliminar/{id}(id=${delivery.idDelivery})}"><img
                            src="../../Imagenes/ImagenActualizar.png" width="10" height="10" class="img-fluid"
                            data-toggle="tooltip" data-placement="bottom"
                            title="Eliminar Pelicula">ELIMINAR</a>
                </td>


            </tr>
            </tbody>
        </table>

</body>
</html>